* {
  border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.app-container{
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
}

/* Form */

.form-title{
  padding: 20px;  
  background-color: lightblue;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;

  @media screen and (max-width: 1200px) {
    display: grid;
    justify-self: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  

  .field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    text-align: center;

    @media screen and (max-width: 1200px) {
      grid-column: span 1;
    }
    

    input, select{
      height: 40px;
      text-align: center;
      border-radius: 5px;
      width: 100%;
    }
  }

  button{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    padding: 20px;

    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      grid-column: span 2;
      width: 50%;
    }
  }

  
}

/* item card sections */

.cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 10px;

  &.orderContainer{
    height: 300px;
  }

  .card {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    height: 180px;
    flex-shrink: 0; /* Prevent the cards from shrinking */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.order-card{
      height: fit-content !important;
    }
  
    .item-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
      width: 100%;
      word-wrap: break-word;
  
      p {
        width: 50%;
        &:first-child {
          width: 40%;
        }
        &:last-child {
          width: 60%;
        }
      }
    }

    &:hover:not(.order-card){
      cursor: pointer;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    }

    &.selected{
      background-color: lightblue;
    }
  }

}







#clienteForm{
  display: none;
}

.hidden{
  display: none;
}