@use "mixins" as mix;
@use "reusables" as *;

%list-columns{
  display: grid;
  gap: 20px;
  padding: 20px;
  word-break: break-all;
}

.list-container{
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cards-header {
  background-color: $color5;
  width: 100%;

  .spans-container {
    width: 100%;
    @extend %list-columns;

    &.products-spans-container{
      grid-template-columns: 0.1fr repeat(5, 1fr);
    }

    &.clients-spans-container{
      grid-template-columns: 0.1fr repeat(4, 1fr);
    }

    &.orders-spans-container{
      grid-template-columns: repeat(4, 1fr);
    }

    span {
      @include mix.font-family("Inconsolata", 500, 1rem);
    }
  }
}

.cards-container {
  height: calc(100vh - 201px);
  display: flex;
  flex-direction: column;

  .card {
    background-color: #FFFFFF;
    @include mix.font-family("Karla", 400, 0.9rem);
    border-bottom: 1px solid $color1;
    @extend %list-columns;

    &.item-card {
      grid-template-columns: 0.1fr repeat(5, 1fr);
    }
    
    &.user-card{
      grid-template-columns: 0.1fr repeat(4, 1fr);
    }

    &.order-card {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &.selected {
      background-color: #F7FAFB;
    }
  }
}

.hidden {
  display: none;
}

/* Apply animation only when adding a new card */
.new-card {
  animation: fadeInDown 0.3s ease-in-out forwards;
}

/* Apply shift-down animation only to existing cards */
.shift-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

// Target a specific element 
.cards-container {
  overflow-y: scroll; 
  scrollbar-width: thin;
  scrollbar-color: $color2 $color4; 

}

// Webkit (Chrome, Edge, Safari) 
.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-track {
  background: $color2; 
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
