@use "mixins" as mix;
@use "reusables" as *;

.cards-header {
  padding: 20px;
  padding-right: 32px;
  background-color: $color5;
  width: 100%;

  .spans-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    span {
      flex: 1;
      @include mix.font-family("Inconsolata", 500, 1rem);
    }
  }
}

.cards-container {
  background-color: $color3;
  height: 100%;
  overflow-y: auto;
  height: calc(100vh - 275px);
  padding: 20px;



  .card {
    height: 50px;
    width: 100%;
    background-color: $color3;
    @include mix.font-family("Karla", 400, 1rem);
    border-bottom: 1px solid $color1;


    &.item-card, &.user-card {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      gap: 10px;
    }

    &.order-card {
      display: grid;
      align-items: center;
      gap: 10px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 100px;
    }

    &.selected {
      background-color: $color2;
    }

    span {
      flex: 1;
      word-break: break-all;
    }

    input{
      flex: 1;
    }
  }
}

.hidden {
  display: none;
}

/* Apply animation only when adding a new card */
.new-card {
  animation: fadeInDown 0.3s ease-in-out forwards;
}

/* Apply shift-down animation only to existing cards */
.shift-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

/* // Target a specific element 
.cards-container {
  overflow-y: scroll; // Enables vertical scrolling
  scrollbar-width: thin; // Firefox: 'auto' or 'thin'
  scrollbar-color: $color1 $color5; // Firefox: thumb | track
}

// Webkit (Chrome, Edge, Safari) 
.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-track {
  background: $color2; // Track color
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #888; // Thumb color
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 */