@use "mixins" as mix;
@use "reusables" as *;

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 20px;
    width: 100%;
    gap: 10px;
  
    @media screen and (max-width: 800px) {
      width: 100%;
      gap: 20px;
    }
    
  
    .field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      flex: 1;

      @media screen and (max-width: 800px) {
        flex-direction: row;
        gap:20px;
      }
  
      label {
        width: 100%;
        height: 40px;
        @include mix.font-family("Karla", 400, 1rem);
        text-transform: uppercase;
        align-content: center;

        @media screen and (max-width: 800px) {
          width: 30%;
        }
      }
  
      input,
      select {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color1; ;
        outline: none;
        @include mix.font-family("Karla", 400, 1rem);
        color: gray;
        width: 100%;
      }
    }
  
    button {
      @include button-base($color4, 8px 20px, 15px);
      margin: 0 auto;
      width: 100px;
      height: 40px;
      background-color: $color4;
      align-self: flex-end;
      
      @media screen and (max-width: 1200px) {
        width: 50%;
      }
    }
  }
  