@use "mixins" as mix;
@use "cards";
@use "forms";
@use "reusables" as *;

* {
  //border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
}

body {
  gap: 20px;
  background-color: $color2;
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100vh;

 /*  // scrollba handling
  @include mix.font-family("Karla", 400, 16px);
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none; */

}


.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section {
  background-color: $color3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;

  .section-header {
    padding-right: 20px;
    background-color: $color2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-title {
      padding: 40px;
      @include mix.font-family("Inconsolata", 500, 1.5rem);
    }
  }

  .section-body{
   
  }
}


/* 
* NAV 
*/

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  width: 20%;
  background-color: $color1;
  padding-bottom: 20px;
  
  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 20px;

  @media screen and (min-width: 801px) and (max-width: 1200px) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    @include mix.font-family("Inconsolata", 400, 2rem);
  }
  .logo-img {
    width: 70px;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    gap: 20px;
  }

  button {
    @include button-base($color3, 10px 20px, 5px);
    @include mix.font-family("Inconsolata", 500, 1.3rem);
    background-color: transparent;
    color: black;
    width: 90%;
    margin: 0 auto;
 
    &.active{
      background-color: $color2;
      border: none;
      color: black;
    }

    &:hover:not(.active){
      color:$color4;
    }
  }

}
