@use "mixins" as mix;

* {
  //border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


$color1: #80cbc4;
$color2: #b4ebe6;
$color3: #fbf8ef;
$color4: #FADA7A;
$color5: #F5F0CD;

body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  background-color: $color2;
}

.app-container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 2rem;
    }
    .logo-img {
      width: 70px;
    }
  }

  
}

.section {
  background-color: $color3;
  border-radius: 15px !important;

  .section-header {
    padding-right: 20px;
    border-radius: 15px;
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .form-title {
      padding: 20px;
      @include mix.font-family("Karla", 500, 1.5rem);
    }

    .toggle-btn {
      width: 30px;
      height: 30px;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      border-radius: 50%;
      border: none;
      background-color: $color4;
      @include mix.font-family("Inconsolata", 400, 1.5rem);

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
/* Form */

.form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;

  @media screen and (max-width: 1200px) {
    display: grid;
    justify-self: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    text-align: center;

    @media screen and (max-width: 1200px) {
      grid-column: span 1;
    }

    input,
    select {
      height: 40px;
      text-align: center;
      border-radius: 10px;
      border: none;
      background-color: $color2;
      outline: none;
      @include mix.font-family("Karla", 400, 1rem);
    }
  }

  button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: $color4;
    border: none;

    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      grid-column: span 2;
      width: 50%;
    }
  }
}

/* item card sections */

.cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  overflow-x: none;
  overflow-y: scroll;
  padding: 20px 10px;
  border-radius: 15px !important;
  padding: 20px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /*  &.orderContainer{
    height: 300px;
  } */

  .card {
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: fit-content;
    flex-shrink: 0; /* Prevent the cards from shrinking */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: $color5;
    @include mix.font-family("Karla", 400, 1rem);



    h3{
      @include mix.font-family("Inconsolata", 400, 1.3rem);
      background-color: $color1;
      padding: 10px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 116%;
      margin-left: -8%;
      margin-top: -19px;

    }

    .item-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
      width: 100%;
      word-wrap: break-word;
      border-bottom: 1px solid $color1;
      padding: 10px 0;
      

      p {
        width: 50%;
        &:first-child {
          width: 40%;
          font-weight: 700;
        }
        &:last-child {
          width: 60%;
        }
      }
    }

    .card-btn-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 30px;

      button {
        padding: 8px 20px;
        border-radius: 15px;
        background-color: $color1;
        transition: all 0.2s ease-in-out;
        border: none;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }

        &:last-child {
          background-color: $color4;
        }
      }
    }

    &:hover:not(.order-card) {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    }

    &.selected {
      background-color: $color2;
    }
  }
}

#clienteForm {
  display: none;
}

.hidden {
  display: none;
}
