@use "mixins" as mix;
@use "cards";
@use "forms";
@use "reusables" as *;

* {
  //border: 1px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $color2;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 800px) {
    height: fit-content;
    flex-direction: column;
  }
  
}

.section {
  background-color: $color3;
  border-radius: 15px !important;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 90%;
  margin: auto auto;

  @media screen and (max-width: 800px) {
    height: fit-content;
  }

  .section-header {
    padding-right: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-title {
      padding: 20px;
      @include mix.font-family("Karla", 500, 1.5rem);
    }
  }

  .section-body {
    display: flex;
    flex-direction: row;
    height: 100%;
  
    @media screen and (max-width: 800px) {
      flex-direction: column;
      height: fit-content;
    }
  }
}


/* 
* NAV 
*/

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  padding: 20px;
  width: 15%;
  background-color: $color1;
  
  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 40px;
  }
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  h1 {
    font-size: 2rem;
    @include mix.font-family("Inconsolata", 400, 2rem);
  }
  .logo-img {
    width: 70px;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    gap: 20px;
  }

  button {
    @include button-base($color3, 5px 20px, 15px);
    padding: 5px 20px;
    @include mix.font-family("Inconsolata", 400, 1rem);
    background-color: $color3;
  }
}
